# Docker image name (used in build.sh and run.sh)
# - Default: Docker Hub pre-built image
# - For local build: change to "manipulator-manager" and run ./build.sh
IMAGE_NAME="hhanoo/project:manipulator-manager"

# Docker container name (used in run.sh)
CONTAINER_NAME="manipulator-manager"
